<div class="layout-container">

  <header role="banner" id="header">
      <div id="site-branding">
        {{ page.header }}
      </div>
      
      <div id="user-account-menu">
         {% if page.primary_menu %}
              {{page.primary_menu }}
         {% endif %}
      </div>
  </header>

<div class="container_a">

  <div class="container_aa">
    <div class="container_aaa">
      <div class="sidebar_first">
          {% if page.sidebar_first %}
                    {{ page.sidebar_first }}
          {% endif %}
      </div>
    </div>

    <div class="container_aab">
      <div class="sidebar_second">
            {% if page.sidebar_second %}
                      {{ page.sidebar_second }}
            {% endif %}
      </div>
    </div>
  </div>

  <div class="container_ab">
    <div id="content">
        <main role="main">
            <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}

            <div class="layout-content">
              {{ page.content }}
            </div>{# /.layout-content #}
        </main>
      </div>
  </div>

</div>

<div class="footer_first">
       {% if page.footer_first %}
          <footer role="contentinfo">
              {{ page.footer_first }}
          </footer>
      {% endif %}
</div>

<div class="footer_second">
  <div class="footer_second_left">
     <p> All Rights Reserved.<a href="mailto:felipemiramontesr@gmail.com">Mail me bitch</a></p>
  </div>

  <div class="footer_second_right">
      {% if page.footer_second %}
          <footer role="contentinfo">
              {{ page.footer_second }}
          </footer>
      {% endif %}
  </div>  
</div>
  
</div>{# /.layout-container #}